.filterpane-wrapper {
  transition: .5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.2);
}

.filter-columns {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  transition: .5s;
}

.filter-column {
  height: 130px;
  width: 250px;
  margin-top: 30px;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
}

.filter-column label {
  font-family: 'Montserrat', sans-serif;
}

.filter-column h6 {
  font-weight: bolder;
}

.input-range__track--active, .input-range__slider {
  background: black !important;
}

.input-range__slider {
  border-color: black !important;
}

.expand-btn {
  background-color: #E3E3E3;
  height: 23px;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: .5s;
  margin-top: 0px;
  color: #adacac;
}

.expand-btn.expanded-false {
  top: 80px;
}

.expand-btn.expanded-true {
  top: 360px;
}

.filterpane-wrapper h5 {
  color: grey;
  font-size: 12px;
  margin: 0;
  margin-top: 3px;
  font-weight: 100;
  letter-spacing: 1px;
  animation: fadeIn .5s linear;
}

.filter-column .col {
  margin: 10px 0px;
}

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 100 }
}