.filterpane-wrapper {
  transition: .5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
  padding: 0 40px;
}

.filter-columns {
  display: flex;
  transition: .5s;
  width: 100vw;
}

.filter-column {
  height: 130px;
  width: 200px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
}

.filter-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-column label {
  font-family: 'Montserrat', sans-serif;
}

.filter-column h6 {
  font-weight: bolder;
  text-align: center;
}

.input-range__track--active, .input-range__slider {
  background: black !important;
}

.input-range__slider {
  border-color: black !important;
}

.expand-btn {
  background-color: #E3E3E3;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: .5s;
  margin-top: 0px;
  color: #adacac;
}

.expand-btn.expanded-false {
  top: 80px;
}

.expand-btn.expanded-true {
  top: 360px;
}

.filterpane-wrapper h5 {
  color: grey;
  font-size: 12px;
  margin: 0;
  margin-top: 3px;
  font-weight: 100;
  letter-spacing: 1px;
  animation: fadeIn .5s linear;
}

.filter-column .col {
  margin: 10px 0px;
}

@media only screen and (min-width: 770px) {
  .filter-columns {
    max-width: 1500px;
    width: 100vw;
  }

  .filter-row {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 770px) {
  .filter-columns {
    width: 100vw;
    flex-wrap: wrap;
    padding: 0 30px;
  }

  .filter-row {
    width: 100%;
  }

  .filter-column {
    align-items: flex-start;
  }
}

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 100 }
}
