body {
  margin: 0;
  padding: 0;
}

.app {
  background: rgba(0, 0, 0, 0.05);
  height: 100vh;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
}

.menubar-wrapper {
  height: 60px;
  width: 100vw;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: white;
  border-bottom: 2px solid lightgrey;
  z-index: 1;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.menubar-btns {
  width: 600px;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.menubar-btn {
  height: 60px;
  width: calc(100% / 3);
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}

.logo h1 {
  margin-right: 100px;
  color: black;
  width: 400px;
  margin-left: 30px;
}

.searchbar-wrapper {
  width: calc(100vw - 300px);
  height: 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.searchbar-wrapper input {
  margin-top: 10px;
  border: 1px solid beige;
  width: 500px;
  height: 30px;
  border-radius: 10px;
  padding: 0 40px;
  margin-top: 10px;
}

.menubar-add {
  font-family: 'Lato', sans-serif;
  background-color: #F1E01E;
  color: black;
  height: 60px;
  width: 200px;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-weight: 900;
  font-size: 14px;
}

.thumbnail {
  width: 100%;
  height: 250px;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.filterpane-wrapper {
  background: rgba(0, 0, 0, 0.07);
  height: 300px;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.app-content {
  height: calc(100vh - 60px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.autocomplete {
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
  border-radius: 50px !important;
  padding-left: 60px !important;
  width: 400px !important;
}

.autocomplete-content {
  position: absolute !important;
}