body {
  margin: 0;
  padding: 0;
}

.app {
  background: rgba(0, 0, 0, 0.05);
  height: 100vh;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
}

.menubar-wrapper {
  height: 60px;
  width: 100vw;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: white;
  border-bottom: 2px solid lightgrey;
  z-index: 2;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.menubar-btns {
  width: 30%;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.menubar-btn {
  height: 60px;
  width: calc(100% / 3);
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}

.logo {
  width: 300px;
}

.logo h1 {
  color: black;
  margin-left: 30px;
}

.searchbar-wrapper {
  width: calc(100vw - 300px);
  height: 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.searchbar-wrapper input {
  margin-top: 10px;
  border: 1px solid beige;
  width: 500px;
  height: 30px;
  border-radius: 10px;
  padding: 0 40px;
  margin-top: 10px;
}

.menubar-add {
  font-family: 'Lato', sans-serif;
  background-color: #F1E01E;
  color: black;
  height: 60px;
  width: 200px;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-weight: 900;
  font-size: 14px;
}

.thumbnail {
  width: 100%;
  height: 250px;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.filterpane-wrapper {
  background: #E3E3E3;
  height: 300px;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.app-content {
  height: calc(100vh - 60px);
  overflow-y: scroll;
  overflow-x: hidden;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
}

.autocomplete {
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
  border-radius: 50px !important;
  padding-left: 60px !important;
  width: 400px !important;
}

.autocomplete-content {
  position: absolute !important;
}

.autocomplete-wrapper.show-false {
  width: 0px;
  transition: .3s;
  opacity: 0;
}

.autocomplete-wrapper.show-true {
  width: 200px;
  transition: .3s;
}

.search-phone {
  display: flex;
  align-items: center;
}

.search-icon-min {
  height: 30px;
  width: 20px;
}

.input-field.col {
  display: flex;
  justify-content: flex-end;
}

.search-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-icon {
  margin-left: -50px;
  color: darkgrey;
  z-index: 999;
}

.resources-big {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.resources-big i {
  margin-right: 10px;
}

.favorite-resources {
  background: white;
  width: 300px;
}

.favorites-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media only screen and (max-width: 1000px) {  
  .autocomplete {
    margin-right: 30px !important;
  }

  .search-icon {
    margin-left: -80px;
  }

  .search-bar.expanded-false .autocomplete {
    width: 20% !important;
  }

  .search-bar.expanded-true .autocomplete {
    width: 100% !important;
  }
}

@media only screen and (max-width: 800px) {  
  .menubar-add {
    width: 60px;
  }
}

@media only screen and (max-width: 770px) {
  .filterpane-wrapper {
    height: 600px;
  }
}
